// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.box1 {
    margin: 0 auto;
    text-align: center;
    
}
.card {
    margin: 0 auto;
    text-align: center;
   
}

.card{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #14181f;
    background: #3a3e41;
    border-bottom: solid 6px #1a1b1b;
    box-shadow: 0 3px 6px rgba(148, 137, 137, 0.25);
    border-radius: 9px;
}

a{
    color: white;
}

.label-title{
    color: white;
    padding-right: 10px;
}

.btn {
    padding: 10px 30px;
    background-color: #333;
    color: #fff;
  }
  .btn:hover {
    background-color: #59b1eb;
  }

  .new{
      text-align: center;
  }

  .form{
      width: 560px;
      padding: 4px;
  }

  .form2{
    width: 563px;
    margin-right: 10px;
    padding: 4px;
}